TiraggoEdmx/Xsd_v3/Model12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/ado/2007/12/edm/EntityStoreSchemaGenerator" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/ado/2007/12/edm/EntityStoreSchemaGenerator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="Type" type="xs:string" />
  <xs:attribute name="Schema" type="xs:string" />
  <xs:attribute name="Name" type="xs:string" />
</xs:schema>